<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="style.css">
</head>

<body>

    <div class="principal">
        <header>
            <div>
                <h1 class="login_texto">Registro</h1>
            </div>
        </header>

        <section>
            <form id="registroForm">
                <div class="form-group">
                    <input type="text" name="username" id="username" placeholder="Usuário" required>
                </div>

                <div class="form-group">
                    <input type="password" name="password" id="password" placeholder="Senha" required>
                </div>

                <div class="form-group">
                    <input type="password" name="confirmPassword" id="confirmPassword" placeholder="Confirmar Senha" required>
                </div>

                <button class="botão_login" type="submit">Registrar</button>
            </form>
        </section>
    </div>

    <script src="script.js"></script>

</body>

</html>
